body {
  overflow: hidden;
}

.layout-container {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "header header"
    "menu content";
}

.layout-container .header {
  grid-area: header;
  padding: 1rem;
  text-align: center;
}

.sidebar {
  grid-area: menu;
  border-right: 1px solid #ccc;
  height: inherit;
  padding-bottom: 5rem;
}

.content {
  grid-area: content;
  padding: 1rem;
  padding-bottom: 5rem;
  height: inherit;
}
